﻿body,html 
{
    margin:0;
    padding:0;
    color:#000;
    background:gray;
}
#header
{
    
}
#container
{
  width:960px;
  margin:0 auto;
  
  
}


#navigation
{
margin-left:-720px;
    float:right;
    width:240px;
  background: silver;
}
#wrapper
{
   display:inline;
}
#content
{
    margin:0 240px 0 240px;
    float  :left;
    width:480px;
    background:darkgray;  
   
}

#extra
{
    margin-left: -960px;
    float:left;
    width:240px;
    background: lightgrey;
    
}
#footer
{
    clear:both;
    background:slategray;
}
#content tr td{
   
    width:200px;
    
}
#bookDiv img{
    display: inline;
    width: 200px;
}
#bookTables{
    width: 400px;
}
#editBookTable{
   width:auto;
}